[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
nose = "*"
mock = "*"
freezegun = "*"

[packages]
pyserial = "*"
flask = "*"
simple-websocket-server = {git = "https://github.com/dpallot/simple-websocket-server.git"}
nose = "*"
