<div class="floor">
  <!-- Row 1 -->
  <div class="tile"><div class="content" id="1.1"></div></div>
  <div class="tile"><div class="content" id="1.2"></div></div>
  <div class="tile"><div class="content" id="1.3"></div></div>
  <div class="tile"><div class="content" id="1.4"></div></div>
  <div class="tile"><div class="content" id="1.5"></div></div>
  <div class="tile"><div class="content" id="1.6"></div></div>
  <div class="tile"><div class="content" id="1.7"></div></div>
  <div class="tile"><div class="content" id="1.8"></div></div>

  <!-- Row 2 -->
  <div class="tile"><div class="content" id="2.1"></div></div>
  <div class="tile"><div class="content" id="2.2"></div></div>
  <div class="tile"><div class="content" id="2.3"></div></div>
  <div class="tile"><div class="content" id="2.4"></div></div>
  <div class="tile"><div class="content" id="2.5"></div></div>
  <div class="tile"><div class="content" id="2.6"></div></div>
  <div class="tile"><div class="content" id="2.7"></div></div>
  <div class="tile"><div class="content" id="2.8"></div></div>

  <!-- Row 3 -->
  <div class="tile"><div class="content" id="3.1"></div></div>
  <div class="tile"><div class="content" id="3.2"></div></div>
  <div class="tile"><div class="content" id="3.3"></div></div>
  <div class="tile"><div class="content" id="3.4"></div></div>
  <div class="tile"><div class="content" id="3.5"></div></div>
  <div class="tile"><div class="content" id="3.6"></div></div>
  <div class="tile"><div class="content" id="3.7"></div></div>
  <div class="tile"><div class="content" id="3.8"></div></div>

  <!-- Row 4 -->
  <div class="tile"><div class="content" id="4.1"></div></div>
  <div class="tile"><div class="content" id="4.2"></div></div>
  <div class="tile"><div class="content" id="4.3"></div></div>
  <div class="tile"><div class="content" id="4.4"></div></div>
  <div class="tile"><div class="content" id="4.5"></div></div>
  <div class="tile"><div class="content" id="4.6"></div></div>
  <div class="tile"><div class="content" id="4.7"></div></div>
  <div class="tile"><div class="content" id="4.8"></div></div>

  <!-- Row 5 -->
  <div class="tile"><div class="content" id="5.1"></div></div>
  <div class="tile"><div class="content" id="5.2"></div></div>
  <div class="tile"><div class="content" id="5.3"></div></div>
  <div class="tile"><div class="content" id="5.4"></div></div>
  <div class="tile"><div class="content" id="5.5"></div></div>
  <div class="tile"><div class="content" id="5.6"></div></div>
  <div class="tile"><div class="content" id="5.7"></div></div>
  <div class="tile"><div class="content" id="5.8"></div></div>

  <!-- Row 6 -->
  <div class="tile"><div class="content" id="6.1"></div></div>
  <div class="tile"><div class="content" id="6.2"></div></div>
  <div class="tile"><div class="content" id="6.3"></div></div>
  <div class="tile"><div class="content" id="6.4"></div></div>
  <div class="tile"><div class="content" id="6.5"></div></div>
  <div class="tile"><div class="content" id="6.6"></div></div>
  <div class="tile"><div class="content" id="6.7"></div></div>
  <div class="tile"><div class="content" id="6.8"></div></div>

  <!-- Row 7 -->
  <div class="tile"><div class="content" id="7.1"></div></div>
  <div class="tile"><div class="content" id="7.2"></div></div>
  <div class="tile"><div class="content" id="7.3"></div></div>
  <div class="tile"><div class="content" id="7.4"></div></div>
  <div class="tile"><div class="content" id="7.5"></div></div>
  <div class="tile"><div class="content" id="7.6"></div></div>
  <div class="tile"><div class="content" id="7.7"></div></div>
  <div class="tile"><div class="content" id="7.8"></div></div>

  <!-- Row 8 -->
  <div class="tile"><div class="content" id="8.1"></div></div>
  <div class="tile"><div class="content" id="8.2"></div></div>
  <div class="tile"><div class="content" id="8.3"></div></div>
  <div class="tile"><div class="content" id="8.4"></div></div>
  <div class="tile"><div class="content" id="8.5"></div></div>
  <div class="tile"><div class="content" id="8.6"></div></div>
  <div class="tile"><div class="content" id="8.7"></div></div>
  <div class="tile"><div class="content" id="8.8"></div></div>

</div>