<html>
<head>
  <title>Dance!</title>

  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <script src="/static/jquery-3.2.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/axios-0.16.2.min.js"></script>

  <style>
    body {
      padding-top: 50px;
    }
    .btn:focus,.btn:active {
      outline: none !important;
    }
    #tapper {
      margin-top: 24px;
      min-height: 128px;
    }
    #bpm-status {
      font-style: italic;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dance Floor</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Now Playing</h2>
      <div id="playlist"></div>
    </div>

    <div class="col-sm-6">
      <h2>Control Panel</h2>
      <div id="playlist">
        <button class="btn btn-default btn-block" id="stop-button">Stop</button>
        <button class="btn btn-default btn-block" id="start-button" style="display: none">Start</button>
        <button class="btn btn-default btn-block" id="next-button">Next</button>
        <button class="btn btn-default btn-block" id="stay-button">Stay Put!</button>
      </div>

      <hr/>
      <h4>Advanced Disco Zone <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4>

      <button class="btn btn-default btn-block" id="tapper">
        Tap BPM
      </button>
      <p class="text-muted" id="bpm-status">
        <form class="form-inline text-center">
          <div class="form-group">
            <div class="input-group">
              <input id="bpm" type="number" step="0.1" min="40.0" max="220.0"
                class="form-control" placeholder="120.0">
              <div class="input-group-addon">BPM</div>
            </div>
          </div>
        </form>
      </p>

      <!-- BPM Nudger -->
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="bpm-nudge-left">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Slower
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" disabled>
            BPM
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="bpm-nudge-right">
            Faster
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <p></p>

      <!-- Downbeat Nudger -->
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="downbeat-nudge-left">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Earlier
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" disabled>
            Downbeat
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="downbeat-nudge-right">
            Later
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div><!-- /.container -->

<script>
  var refreshHandle;
  var bpmSamples = [];
  var bpmAbortTimeoutHandle;

  function handleShowStart() {
    console.log('Playlist started');

    var startButton = document.getElementById('start-button');
    var stopButton = document.getElementById('stop-button');

    startButton.style.display = 'none';
    stopButton.style.display = 'block';
  }

  function handleShowStop() {
    console.log('Playlist stopped');

    var startButton = document.getElementById('start-button');
    var stopButton = document.getElementById('stop-button');

    startButton.style.display = 'block';
    stopButton.style.display = 'none';
  }

  function handlePlaylistUpdate(playlist) {
    console.log('Playlist:', playlist);

    var playlistDiv = document.getElementById('playlist');
    var listGroup = document.createElement('ul');
    listGroup.className = 'list-group';

    for (var i = 0; i < playlist.queue.length; i++) {
      var playlistItem = document.createElement('a');
      var isActive = (i === playlist.current_position);

      if (isActive) {
        playlistItem.className = 'list-group-item list-group-item-success';
      } else {
        playlistItem.className = 'list-group-item';
      }

      playlistItem.innerHTML = '' + (i+1) + '. ' + playlist.queue[i].name;
      listGroup.appendChild(playlistItem);
    }

    playlistDiv.innerHTML = '';
    playlistDiv.appendChild(listGroup);
  }

  function handleError(error) {
    console.error(error);
  }

  function getStatus() {
    return axios.get('/api/status').then(function (response) {
      var playlist = response.data.playlist;
      handlePlaylistUpdate(response.data.playlist);
      handleTempoUpdate(response.data.tempo);
      rescheduleRefresh();
    }).catch(function (error) {
      handleError(error);
      rescheduleRefresh();
    });
  }

  function start_show() {
    return axios.post('/api/playlist/start').then(function (response) {
      handleShowStart(response.data);
      rescheduleRefresh();
    }).catch(function (error) {
      handleError(error);
      rescheduleRefresh();
    });
  }

  function stop_show() {
    return axios.post('/api/playlist/stop').then(function (response) {
      handleShowStop(response.data);
      rescheduleRefresh();
    }).catch(function (error) {
      handleError(error);
      rescheduleRefresh();
    });
  }

  function advance() {
    return axios.post('/api/playlist/advance').then(function (response) {
      handlePlaylistUpdate(response.data);
      rescheduleRefresh();
    }).catch(function (error) {
      handleError(error);
      rescheduleRefresh();
    });
  }

  function stay() {
    return axios.post('/api/playlist/stay').then(function (response) {
      handlePlaylistUpdate(response.data);
      rescheduleRefresh();
    }).catch(function (error) {
      handleError(error);
      rescheduleRefresh();
    });
  }

  function setTempo(bpm) {
    var data = {
      bpm: bpm,
    };
    console.log('Setting tempo to: ', data);
    return axios.post('/api/tempo', data).then(function (response) {
      handleTempoUpdate(response.data);
    }).catch(function (error) {
      handleError(error);
    });
  }

  function nudgeTempo(bpmDelta, downbeatMillisDelta) {
    var data = {
      bpm_delta: bpmDelta,
      downbeat_millis_delta: downbeatMillisDelta,
    };
    console.log('Nudging tempo by: ', data);
    return axios.post('/api/tempo/nudge', data).then(function (response) {
      handleTempoUpdate(response.data);
    }).catch(function (error) {
      handleError(error);
    });
  }

  function handleTempoUpdate(tempoData) {
    var status = document.getElementById('bpm');
    status.value = tempoData.bpm;
  }

  function resetBpmTapper() {
    var tapper = document.getElementById('tapper');
    tapper.innerHTML = 'Tap BPM';
    bpmSamples = [];
  }

  function onBpmTapped() {
    var tapper = document.getElementById('tapper');
    var now = (new Date()).getTime();
    bpmSamples.push(now);

    // Clean things up if somone doesn't finish the job.
    if (bpmAbortTimeoutHandle) {
      clearTimeout(bpmAbortTimeoutHandle);
    }
    bpmAbortTimeoutHandle = setTimeout(resetBpmTapper, 5000);

    // Bail out early if we need more samples.
    if (bpmSamples.length < 4) {
      var remain = 4 - bpmSamples.length;
      tapper.innerHTML = 'Tap BPM (' + remain + ' more ...)';
      return;
    }

    if (bpmAbortTimeoutHandle) {
      clearTimeout(bpmAbortTimeoutHandle);
      bpmAbortTimeoutHandle = null;
    }

    // Compute and send BPM.
    var intervals = [
      bpmSamples[1] - bpmSamples[0],
      bpmSamples[2] - bpmSamples[1],
      bpmSamples[3] - bpmSamples[2]
    ];
    resetBpmTapper();

    var secondsPerBeat = (intervals[0] + intervals[1] + intervals[2]) / 3 / 1000;
    var beatsPerSecond = 1 / secondsPerBeat;
    var beatsPerMinute = beatsPerSecond * 60;
    beatsPerMinute = Math.round(beatsPerMinute * 10) / 10;

    if (beatsPerMinute < 60 || beatsPerMinute > 200) {
      console.error('Ignoring crazy BPM: ', beatsPerMinute);
      return;
    }

    setTempo(beatsPerMinute);
  }

  function onBpmNudgedLeft() {
    nudgeTempo(-0.1);
  }

  function onBpmNudgedRight() {
    nudgeTempo(0.1);
  }

  function onDownbeatNudgedLeft() {
    nudgeTempo(null, -100);
  }

  function onDownbeatNudgedLeft() {
    nudgeTempo(null, 100);
  }

  function installListeners() {
    $('#start-button').click(function () {
      start_show();
    });
    $('#stop-button').click(function () {
      stop_show();
    });
    $('#next-button').click(function () {
      advance();
    });
    $('#stay-button').click(function () {
      stay();
    });
    $('#tapper').click(function () {
      onBpmTapped();
    });
    $('#bpm-nudge-left').click(function () {
      onBpmNudgedLeft();
    });
    $('#bpm-nudge-right').click(function () {
      onBpmNudgedRight();
    });
    $('#downbeat-nudge-left').click(function () {
      onDownbeatNudgedLeft();
    });
    $('#downbeat-nudge-right').click(function () {
      onDownbeatNudgedRight();
    });
  }

  function rescheduleRefresh() {
    if (refreshHandle) {
      clearTimeout(refreshHandle);
    }
    refreshHandle = setTimeout(getStatus, 2000);
  }

  getStatus();
  installListeners();

  // Quirk: Un-focus bootstrap buttons after click.
  $(".btn").mouseup(function(){
      $(this).blur();
  });

</script>

</body>
