[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
nose = "*"
mock = "*"
freezegun = "*"
e1839a8 = {path = ".",editable = true}

[packages]
pyserial = "*"
flask = "*"
pymidi = "*"
simplewebsocketserver = {editable = true,git = "https://github.com/dpallot/simple-websocket-server.git"}
mock = "*"
freezegun = "*"

[scripts]
show = "python floor/run-show.py"

[requires]
python_version = "2.7"
